#jinja2: line_statement_prefix: "%", line_comment_prefix: "##"
# {{ ansible_managed }}

% if libreswan_secrets is defined
% for s in libreswan_secrets
% if s.auth_type == 'RSA'
#{{ s.comment_name }}
{{ s.hosts }} : {{ s.auth_type }} {
	{{ s.key }} 
	}
% elif s.auth_type == 'PPKS' or s.auth_type == 'PPKF'
#{{ s.comment_name }}
{{ s.hosts }} : {{ s.auth_type }}{% if s.auth_name is defined %} {{ s.auth_name }}{% else %}{% endif %} "{{ s.key }}"
% else
#{{ s.comment_name }}
{{ s.hosts }} : {{ s.auth_type }} "{{ s.key }}"
% endif
% endfor
% else 
% endif