#jinja2: line_statement_prefix: "%", line_comment_prefix: "##"
# {{ ansible_managed }}

% if libreswan_passwd is defined
% for p in libreswan_passwd
{{ p.user }}:{{ p.password }}:{{ p.connection }}
% endfor
% else
% endif